/* Website Styles */
*{
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  margin: 0;
  line-height: 1;
  color: gold;
  /*border: solid gold; */
}

.body {
  background-image: url(images/y-so-serious.png);
  background-image: repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0;
  line-height: 1;
  /*boarder: 3px solid black; */
  color: gold;
  margin: 30px;
}

.h1 {
  color: gold;
}

.title{
  color: Black;
}
p {
  background-color: black;
  color: white;
}

h1 {as
   background-color: black;
    text-align: center;
    text: bold;
}

.img {
  height:350;
  width: 450;
}

.a {
  background-color: none;
}

.box{
  border: 1px solid black;
  padding: 30px;
  background-image: url(images/y-so-serious.png)
  background-repeat: repeat;
}

.Box p{
  font-size: 24px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.div {
  margin: 0 auto;
}

.banner{
  height: 250px;
  background-image: url(images/kobe.jpg.jpg);
}
