/* Website Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  background-color: purple;
  color: gold;
}

p {
  background-color: black;
  color: white;
  font: italic-bold;
}

h1 {
   background-color: purple;
    text-align: center;
      
}
